.avatar_container {
  position: relative;
  width: 50%;
}

.avatar {
  cursor: pointer;
  display: block;
  backface-visibility: hidden;
  transition: 0.5 ease;
}

.avatar-selected {
  cursor: pointer;
  filter: brightness(50%);
  display: block;
  backface-visibility: hidden;
  transition: 0.5 ease;
}

.middle {
  display: flex;
  flex-direction: row;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -10%);
  -ms-transform: translate(-25%, -10%);
  text-align: center;
}

.middle_selected {
  display: flex;
  flex-direction: row;
  transition: 0.5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -10%);
  -ms-transform: translate(-25%, -10%);
  text-align: center;
}

.icon {
  height: 35px;
  width: 35px;
  cursor: pointer;
}
