.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

@media (max-width: 600px) {
  .nav-container {
    display: flex;
    flex-direction: column;
  }
}

.link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.015em;

  color: #2f2f2f;
}
