.container {
  width: 30%;
  margin: auto;
}

.participants_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 8rem));
  flex-direction: column;
  width: 100%;
  margin: auto;
}
