.container {
  width: 40%;
  margin: auto;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.participants_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 10rem));
  flex-direction: column;
  width: 100%;
  margin: auto;
}
