.container {
  width: 40%;
  margin: auto;
}
@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 80%;
  }
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.participants_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 10rem));
  grid-template-rows: repeat(auto-fit, minmax(8rem, 10rem));
  flex-direction: column;
  width: 100%;
  margin: auto;
}
